.header {
  margin: 42px 0 110px;
}
@media (max-width: 768px) {
  .header {
    margin: 42px 0 26px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  background: url("/newAutomationTool(Figma)/img/top__background.png");
  background-position: bottom;
  margin-bottom: 64px;
}
.top__content {
  background-image: url("/newAutomationTool(Figma)/img/top__backgroundImg.png");
  background-repeat: no-repeat;
  background-position: right bottom 93px;
}
@media (max-width: 1024px) {
  .top__content {
    background-size: 44%;
    background-position: right bottom 123px;
  }
}
@media (max-width: 768px) {
  .top__content {
    display: flex;
    flex-direction: column;
    background-image: none;
    text-align: center;
    align-items: center;
  }
}
.top__heading {
  margin: 0 0 30px;
  max-width: 506px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
@media (max-width: 768px) {
  .top__heading {
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    margin: 0;
  }
}
.top__text {
  max-width: 425px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  .top__text {
    margin: 12px 0 24px;
  }
}
.top__btn {
  padding: 15px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border: none;
  margin-bottom: 190px;
}
@media (max-width: 768px) {
  .top__btn {
    padding: 0;
    margin-bottom: 41px;
    width: 108px;
    height: 27px;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
}

.whatWeDo {
  margin-bottom: 41px;
}

.whatWedo__heading {
  font-family: "Roboto";
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 64px;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  gap: 32px;
}
@media (max-width: 1024px) {
  .cardBox {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  max-width: 359px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 37px 32px 40px 32px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.card__img {
  align-self: center;
  margin-bottom: 51px;
}
.card__heading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.056em;
  color: #1F3F68;
  margin-bottom: 9px;
}
.card__text {
  max-width: 425px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 21px;
}
.card__linkWrap {
  display: flex;
  align-items: center;
}
.card .card__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
  margin-right: 24px;
}
.card .card__link_svg {
  margin-bottom: 4px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 113px;
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 0 18px;
  }
}

.finishedProjectsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.finishedProjects__heading {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 31px;
}
.finishedProjects__text {
  max-width: 750px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 70px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.projects :nth-child(1) {
  grid-column: 1/-1;
}

.project {
  position: relative;
}
.project__title1 {
  position: absolute;
  right: 0;
  top: 0;
}
.project__title2, .project__title3 {
  position: absolute;
  left: 0;
  top: 0;
}/*# sourceMappingURL=style.css.map */