// variables and mixins
@import 'scssBlocks/variables';
@import 'scssBlocks/topStyle';
@import 'scssBlocks/whatWeDoStyle';
@import 'scssBlocks/footerStyle';
@import 'scssBlocks/finishedProjects';
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}


//
.wrapper{
    max-width: $SiteWidth;
    margin: 0 auto;
    padding: 0 113px;
    @media (max-width: $tabletWidth) {
        padding: 0 32px;
    }
    @media (max-width: $mobileWidth) {
        padding: 0 18px;
    }

}
.headerContacts{
    padding: 44px 0 55px;
}
.topContacts{
    background: url('/newAutomationTool(Figma)/img/contactsTopImg.jpg');
    background-size: cover;
    padding: 70px 0 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 56px;
    &__heading{
       font-family: 'Roboto';
       font-weight: 500;
       font-size: 44px;
       line-height: 74px;
       letter-spacing: 0.04em;
       color: #FFFFFF;
    }    
    &__text{
        max-width: 780px;
        align-self: center;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.contactsWrap{
    display: flex;
    margin-bottom: 96px;
    @media (max-width: $tabletWidth) {
        flex-direction: column;
        align-items: center;
    }
}
.contacts-address{
    margin-bottom: 40px;
}
.contacts-left{
    padding: 77px 0 0 100px;
    @media (max-width:$tabletWidth) {
        padding: 0;
    }
    &__img{
        margin-bottom: 53px;
        margin-right: 100px;
        @media (max-width:$tabletWidth) {
            margin-right: 0;
        }
    }
}
.contacts-address__heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
}
.contacts-address-content{
    max-width: 299px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    &__phone{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__svg{
        margin-right: 23px;
    }
    &__email{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__svg{
        margin-right: 24px;
    }
}
.contacts-right{
    width: 429px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    @media (max-width: $mobileWidth) {
        width: 300px;
        padding: 36px 25px;
    }
    &__heading{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin-bottom: 47px;
        @media (max-width: $tabletWidth) {
            width: 150px;
        }
        @media (max-width: $mobileWidth) {
            width: auto;
        }
    }
    
}
form{
    display: flex;
    flex-direction: column;
    p{
        margin-bottom: 8px;
    }
    .inputAria{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
        margin-bottom: 31px;
    }
    #name, #email, #message{
        padding: 28px 42px;
        opacity: 0.4;
        border: 1px solid #356EAD;
        border-radius: 10px;
    }
    #message{
        min-height: 144px;
        margin-bottom: 72px;

    }
    #message::placeholder{
        position: absolute;
        left: 36px;
        top: 25px;
}
    #submit-btn{
        padding: 25px;
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        border: none;
    }
}

.map{
    margin-bottom: 92px;
}

.error-msg{
    color: red;
    margin: 10px 0;
}
.invalid{
    border: 2px solid red;
}
.invalid{
    border: 2px solid green;
}