.header {
  margin: 42px 0 120px;
}
@media (max-width: 768px) {
  .header {
    margin: 42px 0 26px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  background: url("/newAutomationTool(Figma)/img/top__background.png");
  background-position: bottom;
  margin-bottom: 64px;
}
.top__content {
  background-image: url("/newAutomationTool(Figma)/img/top__backgroundImg.png");
  background-repeat: no-repeat;
  background-position: right bottom 93px;
}
@media (max-width: 1024px) {
  .top__content {
    background-size: 44%;
    background-position: right bottom 123px;
  }
}
@media (max-width: 768px) {
  .top__content {
    display: flex;
    flex-direction: column;
    background-image: none;
    text-align: center;
    align-items: center;
  }
}
.top__heading {
  margin: 0 0 30px;
  max-width: 506px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
@media (max-width: 768px) {
  .top__heading {
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    margin: 0;
  }
}
.top__text {
  max-width: 425px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  .top__text {
    margin: 12px 0 24px;
  }
}
.top__btn {
  padding: 15px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border: none;
  margin-bottom: 190px;
}
@media (max-width: 768px) {
  .top__btn {
    padding: 0;
    margin-bottom: 41px;
    width: 108px;
    height: 27px;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }
}

.whatWeDo {
  margin-bottom: 41px;
}

.whatWedo__heading {
  font-family: "Roboto";
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 64px;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  gap: 32px;
}
@media (max-width: 1024px) {
  .cardBox {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.card {
  max-width: 359px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 37px 32px 40px 32px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.card__img {
  align-self: center;
  margin-bottom: 51px;
  transition-duration: 1s;
}
.card__img:hover {
  transition-duration: 1s;
  transform: rotate3d(0, 1, 0, 180deg);
}
.card__heading {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.056em;
  color: #1F3F68;
  margin-bottom: 9px;
}
.card__text {
  max-width: 425px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 21px;
}
.card__linkWrap {
  display: flex;
  align-items: center;
}
.card .card__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
  margin-right: 24px;
}
.card .card__link_svg {
  margin-bottom: 4px;
}

footer {
  background: #316099;
}

.footerWrap {
  border-bottom: 3px solid #FFFFFF;
}

.footerTop {
  display: flex;
}
@media (max-width: 768px) {
  .footerTop {
    display: block;
  }
}

.footerTop-left {
  padding: 94px 0;
}
@media (max-width: 1024px) {
  .footerTop-left {
    padding: 50px 0 64px 124px;
  }
}
@media (max-width: 768px) {
  .footerTop-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 18px 0 40px;
  }
}
.footerTop-left__heading {
  max-width: 340px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.footerTop-left__text {
  max-width: 490px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .footerTop-left__text {
    max-width: 336px;
  }
}
.footerTop-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 768px) {
  .footerTop-right {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}

.footer-btn {
  background: #5A98D0;
  padding: 15px 86px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer-btn {
    padding: 3px 20px;
    margin-right: 124px;
  }
}
@media (max-width: 768px) {
  .footer-btn {
    margin: auto;
  }
}

.footer-btn:hover {
  transition-duration: 1s;
  transform: rotate3d(0, 1, 0, 180deg);
}

.footerBottom {
  padding: 64px 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.footerBottom__text {
  max-width: 250px;
}
@media (max-width: 1024px) {
  .footerBottom {
    padding: 64px 94px;
  }
}
@media (max-width: 768px) {
  .footerBottom {
    padding: 32px 0 39px;
  }
}

.footer-info {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 61px;
}
@media (max-width: 1024px) {
  .footer-info {
    display: block;
  }
}
.footer-info__text {
  display: flex;
  max-width: 270px;
}
@media (max-width: 1024px) {
  .footer-info__text {
    max-width: 100%;
    margin-bottom: 25px;
  }
}
.footer-info__text::before {
  content: "1.";
  margin-right: 16px;
}
.footer-info__tel {
  margin-right: 98px;
}
@media (max-width: 1024px) {
  .footer-info__tel {
    margin-bottom: 25px;
  }
}
.footer-info__tel::before {
  content: "2.";
  margin-right: 16px;
}
.footer-info__email {
  margin-right: 163px;
}
.footer-info__email::before {
  content: "3.";
  margin-right: 16px;
}

.footer-copy {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .footer-copy {
    display: flex;
    justify-content: center;
  }
}

.finishedProjectsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.finishedProjects {
  margin-bottom: 113px;
}
.finishedProjects__heading {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 38px;
}
.finishedProjects__text {
  max-width: 750px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 70px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
.projects :nth-child(1) {
  grid-column: 1/-1;
}

.project {
  position: relative;
}
.project__img {
  width: 100%;
}
.project__title1 {
  position: absolute;
  right: 66px;
  top: 58px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .project__title1 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    right: 16px;
    top: 16px;
    color: #FFFFFF;
  }
}
.project__title2, .project__title3 {
  position: absolute;
  left: 32px;
  top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .project__title2, .project__title3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    left: 16px;
    top: 26px;
  }
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 113px;
}
@media (max-width: 1024px) {
  .wrapper {
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 18px;
  }
}

.headerContacts {
  padding: 44px 0 55px;
}

.topContacts {
  background: url("/newAutomationTool(Figma)/img/contactsTopImg.jpg");
  background-size: cover;
  padding: 70px 0 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 56px;
}
.topContacts__heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.topContacts__text {
  max-width: 780px;
  align-self: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.contactsWrap {
  display: flex;
  margin-bottom: 96px;
}
@media (max-width: 1024px) {
  .contactsWrap {
    flex-direction: column;
    align-items: center;
  }
}

.contacts-address {
  margin-bottom: 40px;
}

.contacts-left {
  padding: 77px 0 0 100px;
}
@media (max-width: 1024px) {
  .contacts-left {
    padding: 0;
  }
}
.contacts-left__img {
  margin-bottom: 53px;
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .contacts-left__img {
    margin-right: 0;
  }
}

.contacts-address__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 24px;
}

.contacts-address-content {
  max-width: 299px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}
.contacts-address-content__phone {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contacts-address-content__svg {
  margin-right: 23px;
}
.contacts-address-content__email {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contacts-address-content__svg {
  margin-right: 24px;
}

.contacts-right {
  width: 429px;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 56px;
}
@media (max-width: 768px) {
  .contacts-right {
    width: 300px;
    padding: 36px 25px;
  }
}
.contacts-right__heading {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 47px;
}
@media (max-width: 1024px) {
  .contacts-right__heading {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .contacts-right__heading {
    width: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
}
form p {
  margin-bottom: 8px;
}
form .inputAria {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  margin-bottom: 31px;
}
form #name, form #email, form #message {
  padding: 28px 42px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
}
form #message {
  min-height: 144px;
  margin-bottom: 72px;
}
form #message::-moz-placeholder {
  position: absolute;
  left: 36px;
  top: 25px;
}
form #message:-ms-input-placeholder {
  position: absolute;
  left: 36px;
  top: 25px;
}
form #message::placeholder {
  position: absolute;
  left: 36px;
  top: 25px;
}
form #submit-btn {
  padding: 25px;
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
}

.map {
  margin-bottom: 92px;
}

.error-msg {
  color: red;
  margin: 10px 0;
}

.invalid {
  border: 2px solid red;
}

.invalid {
  border: 2px solid green;
}/*# sourceMappingURL=style.css.map */