// variables and mixins
@import 'scssBlocks/variables';
@import 'scssBlocks/topStyle';
@import 'scssBlocks/whatWeDoStyle';
@import 'scssBlocks/footerStyle';
@import 'scssBlocks/finishedProjects';
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}


//
.wrapper{
    max-width: $SiteWidth;
    margin: 0 auto;
    padding: 0 113px;
    @media (max-width: $tabletWidth) {
        padding: 0 32px;
    }
    @media (max-width: $mobileWidth) {
        padding: 0 18px;
    }

}
.headerContacts{
    padding: 44px 0 55px;
}
.topContacts{
    background: url('/newAutomationTool(Figma)/img/contactsTopImg.jpg');
    background-size: cover;
    padding: 70px 0 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__heading{
       font-family: 'Roboto';
       font-weight: 500;
       font-size: 44px;
       line-height: 74px;
       letter-spacing: 0.04em;
       color: #FFFFFF;
    }    
    &__text{
        max-width: 780px;
        align-self: center;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
}
.contacts{
    height: 1000px;
}
.contacts-left{
    padding-top: 120px;
}
.contacts-address__heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.contacts-address__content{
    max-width: 299px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}






